body {
    padding: 50px;
}
div{
    background-color: lightgray;
    padding: 20px;
    border-radius: 10px;
}
p{
    color: rgb(162, 0, 255);
    font-size: x-large;
    word-wrap: break-word;
    text-shadow: 2px 2px 10px  rgba(183, 196, 0, 0.894);
}